.windows:lang(zh-Hans),
.shadow-root-host,
.scm-input .view-lines.monaco-mouse-cursor-text {
  font-family: 'MiSans VF', 'Twemoji Mozilla', Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif !important;
  font-weight: 450;
}

/* .view-lines.monaco-mouse-cursor-text {
  font-family: 'HarmonyOS Sans SC', Segoe WPC, Segoe UI, Microsoft YaHei, sans-serif !important;
} */

.menubar-menu-title .monaco-workbench .part>.content {
  font-size: 14px;
}


/* 右键菜单的搜索 */
/* context-view monaco-menu-container bottom left fixed */
